/* src/pages/Auth/login/Login.styles.css */

.ReactFlagsSelect-module_selectBtn__19wW7:after,
.ReactFlagsSelect-module_selectBtn__19wW7[aria-expanded='true']:after,
.ReactFlagsSelect-module_selectOptions__3LNBJ {
	display: none;
}

.content-left-wrapper {
	position: relative;
	background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.5));
}

.content-left-wrapper::before,
.content-left-wrapper::after {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	background: #0d675e;
	z-index: 10;
}

.content-left-wrapper::before {
	left: 0;
	width: 12px;
}

.content-left-wrapper::after {
	right: 0;
	width: 12px;
}
