.custom-grid-header .css-3su884-MuiPaper-root {
	padding: 1.2rem !important;
}

.hover-card {
	transition: transform 0.2s ease, box-shadow 0.2s ease;
	display: flex;
	align-items: center;
	height: 170px;
	width: 100%;
	justify-content: space-around;
}

.hover-card:hover {
	transform: translateY(-5px);
	box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
	cursor: pointer;
}

@media (max-width: 600px) {
	.hover-card {
		height: 170px;

		margin-bottom: 20px;
	}
}
